@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #202020;
    font-family: 'Sour Gummy', cursive;
    margin: 0;
    padding: 0;
}
.canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-size: 150px;
    background: linear-gradient(90deg, #ff0000, #ff6600, #ffaa00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200%;
    animation: moving-gradient 3s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes moving-gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}